/* @media for landing page */

@media (max-width: 1000px){
	.company, .app, .team, .designPrototype, .video, .contact, .companyLogo, .header, .footerContent, .appVideo, .FAQ{
		max-width: 100%;	
		height: auto;
		}	
	
		
	}
	
@media (min-width: 551, max-width: 800px) {
.teamGrid_25 {
float: left;
display: inline;
background: red;
}
}


@media (max-width: 550px) {
.teamGrid_25 {
width: 100%;
display: inline;
height: 100%;
}

.teamGrid_25 img{
float: left;
padding-right: 5px;
margin-bottom: 50px;
}

.teamName{
margin: 0;
}

.teamTitle{
margin: 0;
}
}